@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500&family=Sofia+Sans&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}
/* -----------
header section starts 
----------------*/
.container{
    width: 80%;
    margin: 0 auto;
}
/* .header-section{
    width: 1321px;
    height: 646px;
    margin: 20px; 
} */
header{
    background: #161616;
}
h1{
    font-size: 2.5rem;
    color: white;
}
.heading-span{
    color: #9fbcd9;;
}
.heading-para-button{
    padding: 50px;
}
.heading-para-button-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 30px;
    align-items: center;
     
}
.heading-para-button-image p{
    color: white;
    
}
.heder-button{
    background-color: #DD0000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
.fa-arrow-right{
    margin-left: 10px;
}
.header-image{
    Height: 613px; 
}
/* -----------
header section ends 
----------------*/


/* ------------
main section starts
---------------- */
    .main-section{
        width: 100%;
    }
    .left-right{
        display: flex;
        margin-bottom: 10px;
    }
    .left{
        display: flex;
        text-align: center;
        align-items: center;
        background: #161616;
        color: white;
        height: 256px;
        width: 256px;
        margin-top: 22px;
        border-radius: 10px;
        justify-content: center;
    }
    button{
        margin: 7px;
        padding: 7px;
        border-radius: 10px;
       
    }
    .all-button{
        display: flex;
        flex-direction: column;
    }
   
    /* .all-button a:hover{
        color: white;
        
    } */
    .all-button a{
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 19px;
        border: 2px solid white;
        margin: 5px 0;
        border-radius: 5px;
        
    }
    .all-button a:hover{
        background-color: #DD0000;
    }
    .right{
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .img-and-descrip{
        width: 312px;
        height: 362px;
        margin: 24px;
        
    }
    .right-blog-img{
        width: 100%;
    }
    .img-time-chat{
        display: flex;
    }
    .time-img{
        margin-right: 10px;
    }
    .icon-img{
        margin-left: 7px;
        margin-right: 7px;
    }
/* ------------
main section ends 
--------------*/

/* footer starts */
  footer{
    background-color: #161616;
  }
  .footer-heading{
    display: flex;
    justify-content: center;
    align-items: center; 
  } 
  .footer-descrip{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .footer-descrip p{
    font-size: 25px;
    padding: 10px;
  }
  .social-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-brands {
    font-size: 25px;
    padding: 10px;
    color: white;
    }
    hr{
        height: .5px;
    }
/* footer ends */



/* responsive for mobile */
@media only screen and (max-width: 688px) {
    /* .container {
        width: 100%;
        
    } */
    .heading-para-button-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
   
    .header-section{
        /* width: 100%; */
    }
    .heading-para-button{
        height: 50%;
        
    }
    .header-image{
        height: 50%;
        margin-top: 50px;
        width: 97%;
        
    }
    .main-section{
        /* margin-top: 100px; */
    }
    .left-right{
        display: flex;
        flex-direction: column;
        /* margin-top: 55px; */
}
    
    .left{
        display: flex;
        width: 100%;
        margin-top: 10px;
        flex-direction: row;
        height: 122px;
        margin-left: 0;
    }
    .all-button{
        display: flex;
        flex-direction: row;
    }
    .all-button button{
        width: 100%;
    }
    .right{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* margin: 5px 0; */
        grid-gap:10px;
    }
    .img-and-descrip {
       margin-left: 0;
    }
    .footer-all{

    }
    footer{
        
    }
    .footer-descrip{
        display: flex;
        flex-direction: column;
    }

}

/* for tablet */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .heading-para-button-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    .header-image{
        width: 99%;
    }
    .left-right{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

        .left {
            height: 49px;
            margin: 0 auto;
            padding: 8px;
            margin-bottom: 10px;
        }
    .all-button{
        display: flex;
        flex-direction: row;
       

    }
    .right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;

    }
    .img-and-descrip{
        margin: 0;
        width: 100%;
    }
    .footer-all{
        
    }

}